name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: asg-01
          template: classic
          
          # 1. Clean Base (No Header, No "About Me")
          base: "" 
          
          # 2. 3D Calendar (The cool blocks)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
