name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: asg-01
          template: classic
          
          # 1. MINIMAL MODE (Removes the Header/Joined/Followers text)
          base: "" 
          
          # 2. 3D CALENDAR (Updates every 24 hours)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # 3. LANGUAGES (Clean Bar)
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_limit: 5
