name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: asg-01
          template: classic
          
          # MINIMAL SETUP (Hidden Header)
          base: "" 
          
          # 3D CALENDAR (Shows streaks & intensity)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
